.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.container-card{
  width: 300px;
  min-width: 300px;
}

.titleLink {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.price-shop {
  color: rgb(0, 119, 255);
}

.remove {
  background-color: rgb(185, 27, 27);
  color: blanchedalmond;
  border-radius: 12px;
}

.remove:hover {
  color: white;
  background-color: rgb(203, 49, 49);
  transition: 0.5s;
  border-radius: 12px;
}
.img-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.img-cart-shop{
  width: 150px;
}

.Quantity {
  color: white;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(40, 40, 40);
}
.Quantity:hover {
  color: white;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.payment {
  min-width: 340px;
  line-height: 35px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid rgb(143, 143, 143);
}
.order-summary {
  border-radius: 30px;
  border: 1px solid rgb(193, 193, 193);
}
.warn-icon {
  color: red;
  font-size: 25px;
}
.text-icon {
  font-size: 20px;
}

@media (max-width: 767.98px) { 
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }
 }