.loader {
  height: 100vh;
}

.container-iconBye {
  cursor: pointer;
  text-align: center;
  width: 42px;
  border-radius: 50%;
  background-color: rgb(60, 160, 20);
}

.iconBye {
  color: rgb(223, 223, 214);
}

.img-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.img-single-card{
  width: 250px;
}

.container-wrap,
.total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
