.container-navbar {
  background-color: rgb(60, 160, 20);
}
.brand {
  color: rgb(224, 237, 237);
}

.brand:hover {
  color: white;
  transition: 0.3s;
}

.icon {
  font-size: 50px;
  color: rgb(224, 237, 237);
}

.icon:hover {
  color: white;
  transition: 0.5s;
}

.category {
  cursor: pointer;
  max-width: 175px;
  min-width: 175px;
}

.category option {
  color: rgb(78, 78, 78);
}


@media (max-width: 412.98px) {
  .category {
    margin-bottom: 10px;
  }
}
