@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 13px;
  color: rgb(101, 99, 99);
  line-height: 22px;
}
.scroll {
  background-color: rgb(24, 24, 24) !important;
}
